[user]
	name = shimgo
	email = fen.mex.cyc@gmail.com
[credential]
	helper = osxkeychain
[pull]
	rebase = false
[ghq]
    root = ~/ghq
    root = ~/go/src
[alias]
	see = browse
	st = status
	ch = checkout
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
