[submodule ".vim/pack/all/start/unite.vim"]
	path = .vim/pack/all/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/pack/all/start/unite-outline"]
	path = .vim/pack/all/start/unite-outline
	url = https://github.com/shimgo/unite-outline.git
[submodule ".vim/pack/all/start/vim-fugitive"]
	path = .vim/pack/all/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/all/start/delimitMate"]
	path = .vim/pack/all/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/pack/all/start/vim-rhubarb"]
	path = .vim/pack/all/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/pack/all/start/vim-gitgutter"]
	path = .vim/pack/all/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/all/start/vim-lsp"]
	path = .vim/pack/all/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/all/start/vim-lsp-settings"]
	path = .vim/pack/all/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule ".vim/pack/all/start/asyncomplete.vim"]
	path = .vim/pack/all/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule ".vim/pack/all/start/asyncomplete-lsp.vim"]
	path = .vim/pack/all/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule ".vim/pack/all/start/nerdtree"]
	path = .vim/pack/all/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/all/start/nerdtree-git-plugin"]
	path = .vim/pack/all/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/all/start/vim-devicons"]
	path = .vim/pack/all/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/pack/all/start/vim-nerdtree-syntax-highlight"]
	path = .vim/pack/all/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule ".vim/pack/all/opt/vim-goimports"]
	path = .vim/pack/all/opt/vim-goimports
	url = https://github.com/mattn/vim-goimports.git
[submodule ".vim/pack/all/start/fzf.vim"]
	path = .vim/pack/all/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/all/opt/vim-graphql"]
	path = .vim/pack/all/opt/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule ".vim/pack/all/start/ultisnips"]
	path = .vim/pack/all/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/all/start/vim-prettier"]
	path = .vim/pack/all/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule ".vim/pack/all/start/copilot.vim"]
	path = .vim/pack/all/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
