[submodule ".vim/pack/all/start/unite.vim"]
	path = .vim/pack/all/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/pack/all/start/unite-outline"]
	path = .vim/pack/all/start/unite-outline
	url = https://github.com/shimgo/unite-outline.git
[submodule ".vim/pack/all/start/vim-fugitive"]
	path = .vim/pack/all/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/all/start/delimitMate"]
	path = .vim/pack/all/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/pack/all/start/vim-rhubarb"]
	path = .vim/pack/all/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/pack/all/start/vim-gitgutter"]
	path = .vim/pack/all/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
